<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Quản Lý Sản Phẩm</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>
<link rel="stylesheet" href="./../../assets/css/style.css">

<body>
  <div class="container">
    <header class="display-4 my-4">
      Quản lý sản phẩm
    </header>
    <!-- Phan tab menu -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#DanhSachSanPham" role="tab" data-toggle="tab">Danh sách sản phẩm</a>
      </li>
    </ul>
    <br />
    <!-- Tab panes -->
    <div class="tab-content">
      <!--Danh sách sản phẩm -->
      <div role="tabpanel" class="tab-pane  in active" id="DanhSachSanPham">
        <div class="row">
          <div class="col-md-8">
            <!-- BEGIN BUTTOM THÊM MỚI -->
            <button id="btnThemSP" class="btn btn-success" data-toggle="modal" data-target="#myModal">
              <i class="fa fa-plus mr-1"></i>
              Thêm Mới
            </button>
            <!-- END BUTTON THÊM MỚI -->
          </div>
          <div class="col-md-4">
            <!-- BEGIN TÌM KIẾM -->
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Nhập từ khóa" aria-label="Recipient's username"
                aria-describedby="basic-addon2" />
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"><i class="fa fa-search"></i></span>
              </div>
            </div>
            <!-- END TÌM KIẾM -->
          </div>
        </div>
        <div class="clear-fix"></div>
        <div class="tblSanPham" id="tblSanPham">
          <!-- BEGIN TABLE SẢN PHẨM -->
          <table class="table table-bordered text-center">
            <thead>
              <th>STT</th>
              <th>Tên Sản phẩm</th>
              <th>Đơn giá</th>
              <th>Hình ảnh</th>
              <th>Mổ Tả</th>
              <th>Action</th>
            </thead>
            <div class="lds-spinner" id="loader">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <tbody id="tblDanhSachSanPham"></tbody>
          </table>
          <!-- END TABLE SẢN PHẨM -->
        </div>
        <br />
      </div>
      <!-- Kết thúc danh sách sản phẩm -->
    </div>
    <!-- <img src="./../../assets/img/mobile1_after.jpg" alt="" > -->
    <!--KetThuc Tabmenu-->

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Modal Heading</h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group">
              <label>Tên sản phẩm</label>
              <input id="tenSP" class="form-control" placeholder="Nhập tên sản phẩm" />
              <span id="tenError" class="tbError"></span>
            </div>
            <div class="form-group">
              <label>Đơn giá</label>
              <input id="donGia" class="form-control" placeholder="Nhập vào giá sản phẩm" />
              <span id="donGiaError" class="tbError"></span>
            </div>
            <div class="form-group">
              <label>Màn hình</label>
              <input id="manHinh" class="form-control" placeholder="Nhập vào cỡ màn hình" />
              <span id="manHinhError" class="tbError"></span>
            </div>
            <div class="form-group">
              <label>Camera trước</label>
              <input id="cameraT" class="form-control" placeholder="Nhập vào camera trước" />
              <span id="cameraTError" class="tbError"></span>
            </div>
            <div class="form-group">
              <label>Camera sau</label>
              <input id="cameraS" class="form-control" placeholder="Nhập vào camera sau" />
              <span id="cameraSError" class="tbError"></span>
            </div>
            <div class="form-group">
              <label>Hình ảnh</label>
              <input id="hAnh" class="form-control" placeholder="Nhập vào hình ảnh" />
              <span id="hAnhError" class="tbError"></span>
            </div>
            <div class="form-group">
              <label for="">Loại sản phẩm: </label>
              <select class="form-control" id="loaiSP">
                <option>Chọn loại sản phẩm</option>
                <option value="Iphone">Iphone</option>
                <option value="Samsung">Samsung</option>
              </select>
              <span id="loaSPError" class="tbError"></span>
            </div>
            <div class="form-group">
              <label>Mô tả</label>
              <textarea name="" id="moTa" class="form-control" placeholder="Nhập vào mô tả"></textarea>
              <span id="moTaError" class="tbError"></span>
            </div>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="container"></div>
  <style>
    #container {
      min-width: 310px;
      max-width: 800px;
      height: 400px;
      margin: 0 auto;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <!-- Axios -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js"
    integrity="sha512-xIPqqrfvUAc/Cspuj7Bq0UtHNo/5qkdyngx6Vwt+tmbvTLDszzXM0G6c91LXmGrRx8KEPulT+AfOOez+TeVylg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="./../services/index.js"></script>
  <script src="./../models/validation.js"></script>
  <script src="./../models/ProductList.js"></script>
  <script src="./../models/Product.js"></script>
  <script src="./../controllers/main.js"></script>
</body>

</html>