.cart-icon {
    @include styleText($fs-1, $fw-1, $clr-black-1);
    text-align: right;
    padding-right: $pd-1;
    padding-top: $pd-2;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 0;

    i {
        position: relative;

        span {
            @include styleText($fs-2, $fw-2, $clr-pink-1);
            background-color: $clr-white-1;
            width: $ot-3;
            height: $ot-3;
            position: absolute;
            border-radius: 50%;
            left: 0;
            transform: translateX(80%);
            line-height: 1.5;
            text-align: center;
        }
    }
}