// font size
$fs-1: 30px;
$fs-2: 10px;
$fs-3: 12px;
$fs-4: 25px;
$fs-5: 20px;

// font weight
$fw-1: 300;
$fw-2: 800;

// color
$clr-black-1: #00000099;
$clr-white-1: #fff;
$clr-blue-1: #4158D0;
$clr-pink-1: #C850C0;
$clr-yellow-1: #FFCC70;
$clr-grey-1: #80808026;

// padding
$pd-1: 20px;
$pd-2: 5px;

// other 
$ot-1: 670px;
$ot-2: 100px;
$ot-3: 15px;
$ot-4: 250px;