#header.header-scroll {
  top: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header {
  transition: $transit-1;
  max-height: 100px;
  transition: all 0.5s ease-in-out;
  // transform: translateY(0%);
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;

  @include mediaQuery($lg) {
    background-color: $light;
  }

  .header__container {
    @include flex(center, space-between);
  }
}

// when menu open in mobile

.header.sidenav-open {
  transform: translateX(300px);
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

// header when scroll
.header.header-scroll {
  position: fixed;
  z-index: 9999;
  background-color: $light;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;

  .header__logo {
    .header__logo-img {
      @include img(5rem, 5rem);
      opacity: 0;
    }
  }
}

.header__logo {
  display: flex;
  align-items: center;

  .header__logo-img {
    @include img(8rem, 8rem);
    transition: all 0.5s ease-in-out;

    @include mediaQuery($lg) {
      @include img(6rem, 6rem);
    }

    @include mediaQuery($xs) {
      @include img(5rem, 5rem);
    }
  }

  .menuToggle {
    @include flex(center, center);
    flex-direction: column;
    width: 40px;
    height: 50px;
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    margin-right: $m-3;
    display: none;

    @include mediaQuery($lg) {
      display: flex;
    }

    span {
      display: block;
      width: 100%;
      height: 4px;
      background-color: $pink;
      border-radius: 8px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      will-change: transform;
      transition: all 0.5s ease-in-out;
      opacity: 1;

      +span {
        margin-top: $m-2;
      }
    }
  }

  .menuToggle.open {
    span:nth-child(1) {
      transform: rotate(135deg);
    }

    span:nth-child(2) {
      // transform: translateX(-100px);
      opacity: 0;
    }

    span:nth-child(3) {
      transform: rotate(-135deg);
    }

    span+span {
      margin-top: -4px; // bằng với độ dày của thẻ span menu icon.
    }
  }
}

.header__nav {
  @include flex(center, initial);

  @include mediaQuery($lg) {
    display: none;
  }

  .navbar {
    display: flex;

    .navbar__item {
      margin: 0 $m-6;
    }
  }

  .nav-link {
    position: relative;
    @include textStyle($fs-2, $fw-3, $lh-0, $black);
    transition: $transit-1;

    &::after {
      content: "" !important;
      display: block;
      position: absolute;
      bottom: -3rem;
      left: 50%;
      transform: translateX(-50%);
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background-color: $pink-1;
      transition: $transit-1;
      opacity: 0;
    }

    &:hover {
      color: $pink-1;


      &::after {
        opacity: 1;
        height: 12px;
        width: 12px;
      }

    }
  }

  .active {
    color: $pink-1  !important;

    &::after {
      opacity: 1;
    }
  }

  .header__contact {
    margin-left: $m-9;
    display: flex;
    align-items: center;

    .header__contact-social {
      margin: 0 $m-1;
      @include textStyle($fs-7, $fw-0, $lh-0, $black);

      &:hover {
        color: $pink-1;
      }
    }

    .header__contact-phone {
      margin-right: $m-3;
      @extend .mybtn;
      @extend .mybtn.mybtn-primary;

      i {
        margin-right: $m-2;
      }
    }


  }
}